<div class=".container"></div>

<div class="row"></div>
<div class="col-md-6"></div>
  
<div class="audio_flame">
    
<div>

  <span id="globalMenu1" onclick="ren()"><i class="fa fa-play-circle fa-4x"></i>play</span >
  <span id="globalMenu2" type="button" onclick="rand()"><i class="fa fa-random fa-4x" ></i>random</span>
  <span id="pr_chg" type="button"  onclick="pause_resume()"><i class="fa fa-pause-circle fa-4x" ></i><a id="atxt">pause</a></span>
  <span type="button" onclick="cancelAudio()"><i class="fa fa-stop-circle fa-4x" ></i>cancel</span>
  <span><textarea id="seek_result" cols="22"><%= flash[:warning].html_safe %></textarea ></span>
  
</div> 


<!--ボリューム (スピードスライダ)ー-->
<div id="vss">  

  <div><span>volume</span><input type="range"  id="volume" min="0" max="100" class="custom" ><span id="value" class="vs" >50</span></div>
    
   <!-- <span class="select_spcap">再生速度
    
    <select id="select_speed">
      <option value="1.0">既定</option>
      <option value="0.9">90％</option>
      <option value="0.8">80％</option>
      <option value="0.7">70％</option>
      <option value="0.6">60％</option>
      <option value="0.5">50％</option>
      
    </select></span>-->
    
<!--<div><span>speed</span><input type="range" id="speed" value="1.0" min="0.5" max="1.5"　required step="0.1" class="custom"><span id="value1" class="vs">1.0</span></div> -->
</div> <br>

<div class="b_group">

    <span>日英の再生間隔
    
    <select id="select_time">
      <option value="0">０秒</option>
      <option value="1">１秒</option>
      <option value="2">２秒</option>
      <option value="3">３秒</option>
    </select></span>
  
    <span class="radio_group">ループ再生
    <input type="radio" name="loop" value=0 checked>しない
    <input type="radio" name="loop" value=1>する
    </span>
    
    <span class="radio_group">再生対象
    <input type="radio" name="je" value="aje" checked>日英
    <input type="radio" name="je" value="ae">英
    </span>

</div>

 <a id="play_this"></a>
 
</div>

 <script>
 //コピー防止
      window.onload = function() {
                    document.body.oncopy = function () {
                        return false;
                    }
       }
 
　</script>
　
　<div class="hogewaku" > 
    <div class="main">
       <div class="digg_pagination">
       <%= will_paginate @masters %> 
     </div>
     


<ul class="hoge">
  
     <% @masters.each_with_index do |mstr, i| %>
     
           <div class="audio_set">
             
                <audio class="jp" src="<%=Settings.mp3.root_path%>/jsf/<%= mstr.id %>.mp3" preload="auto"></audio>
           
                <audio class="en" src="<%=Settings.mp3.root_path%>/sf/<%= mstr.id %>.mp3" preload="auto"></audio>
                 
             </div>
           
     <li><a href="javascript:tan(<%= i %>)"><%= mstr.j %><br>  <%= mstr.e %>  </a></li>
            
     <% end %>
  
</ul>
</div>
</div>  
</div>
 
<div class="digg_pagination">
   <%= will_paginate @masters %>  
 </div>
 
</div>
</div>
</div>

<script>
//クッキー設定
   //DOMの準備ができたら呼ばれる。
 $(function() {
     
        var vcookie = $.cookie('v_cookie');   //ボリューム
        var scookie = $.cookie('s_cookie');   //スピード
        var tcookie = $.cookie('tm_cookie');   //再生間隔 
        var lcookie = $.cookie('loop_cookie');//ループ再生

//ボリューム
   if(vcookie){
        
      $('#volume').val(vcookie);
      $('#value').text(vcookie);
      
     } else {
        
       $('#volume').val(50);
       $('#value').text(50);
       $.cookie('v_cookie', 50, {path:'/'}); 
   
     }
     
     var elem = document.getElementById('volume');
             var target = document.getElementById('value');
             
              var rangeValue = function (elem, target) {
                return function(evt){
                  target.innerHTML = elem.value;
                }
              }
       elem.addEventListener('input', rangeValue(elem, target));
       
     
     $('#volume').change(function(){
        
         $.cookie('v_cookie', $('#volume').val(), {path:'/'}); 
       
     });  
  
//スピード

 /*if(scookie){
        
      $('#select_speed').val(scookie);
     
      
     } else {
        
       $('#select_speed').val("1.0");
       
       $.cookie('s_cookie', "1.0"); 
   
     }
     
     $('#select_speed').change(function(){
        
         $.cookie('s_cookie', $('#select_speed').val(), {path:'/'}); 
       
     });*/
 
//再生間隔 
    if(tcookie){
        
      $('#select_time').val(tcookie);
     
      
     } else {
        
       $('#select_time').val(0);
       
       $.cookie('tm_cookie', 0); 
   
     }
     
     $('#select_time').change(function(){
        
         $.cookie('tm_cookie', $('#select_time').val(), {path:'/'}); 
       
     }); 
     
 //ループ再生    
 
     if (lcookie) {
         
            $('.radio_group input[name="loop"][value="' + lcookie + '"]').prop("checked", true);
 
          } else {
              
              $('.radio_group input[name="loop"][value="0"]').prop("checked", true);
        
          }
     
     $("input[name='loop']:radio").change( function() {
        
         $.cookie('loop_cookie', $("input:radio[name='loop']:checked").val(), {path:'/'}); 
         
     }); 
     
 }); 
 
</script>