<p id="notice"><%= notice %></p>

<p>
  <strong>N:</strong>
  <%= @master.n %>
</p>

<p>
  <strong>J:</strong>
  <%= @master.j %>
</p>

<p>
  <strong>E:</strong>
  <%= @master.e %>
</p>

<p>
  <strong>Category:</strong>
  <%= @master.category_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @master.product_id %>
</p>

<p>
  <strong>Husen:</strong>
  <%= @master.husen %>
</p>

<%= link_to 'Edit', edit_master_path(@master) %> |
<%= link_to 'Back', masters_path %>
